# APP
.env
**/tmp/*
**/!tmp/.gitkeep
dev.db

# compiled output
node_modules
dist
dist-ssr
*.local

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store